@font-face {
    font-family: 'circular_stdlight';
    src: url('../font/webfontkit/circularstd-light_webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdlight_italic';
    src: url('../font/webfontkit/circularstd-light_italic-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdbook';
    src: url('../font/webfontkit/circularstd-book-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdbook_italic';
    src: url('../font/webfontkit/circularstd-bookitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdmedium';
    src: url('../font/webfontkit/circularstd-medium-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdmedium_italic';
    src: url('../font/webfontkit/circularstd-mediumitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdbold';
    src: url('../font/webfontkit/circularstd-bold-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdbold_italic';
    src: url('../font/webfontkit/circularstd-bolditalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdblack';
    src: url('../font/webfontkit/circularstd-black-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdblack_italic';
    src: url('../font/webfontkit/circularstd-blackitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Responsive Design*/ 

@media only screen and (max-width: 600px) {
    .header-button {
        margin-left: 24px;
    }
    .menu {
        margin-right: 24px;
    }
    .menu-list {
        display: none !important;
    }
    .hamburger-menu {
        display: block !important;
    }
    body.menu-expanded {
        overflow: hidden !important;
    }
    .title {
        font-size: 32px !important;
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    #heading{
        font-size: 14px !important;
    }
    #explanation{
        font-size: 14px !important;
        margin-bottom: 60px !important;
    }
    #explanation .hide-on-mobile {
        display: none !important;
    }
    #scroll{
        font-size: 14px !important;
    }
    .caption {
        bottom: 24px !important;
        left: 50%;
        width: 80% !important;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 600px) {
    .header-button {
        margin-left: 40px;
    }
    .menu {
        margin-right: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .header-button {
        margin-left: 80px;
    }
    .menu {
        margin-right: 80px;
    }
}

@media only screen and (min-width: 992px) {
    .header-button {
        margin-left: 80px;
    }
    .menu {
        margin-right: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    .header-button {
        margin-left: 160px;
    }
    .menu {
        margin-right: 160px;
    }
}



html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }
  
body {
    background-color: #FAFBFC;
    overflow: hidden;
    font-family: 'circular_stdbook';
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    margin: 0;
    border: 0;
  }

/*header*/
.nav-up {
    top: -88px;
}

header {
    z-index: 3;
    position: fixed;
    top: 0;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    width: 100%;
    height: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Merriweather', serif;
    }

.header-button:hover {
    opacity: 50%;
}

.menu {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 300;
    font-size: 13px;
    font-family: 'circular_stdbook';
}

a {
    margin-right: 32px;
    text-decoration: none;
    color: black;
}

.hamburger-menu {
    width: 32px;
    display: none;
}

#expanding-menu {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100% - 88px);
    background-color: #FAFAFA;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: top;
    z-index: 2;
}

.expanding-menu a {
    margin-bottom: 24px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.menu-list {
    display: inline-block;
    position: relative;
}

#logo {
    height: 40px;
}



/*Body*/

.section {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

.title-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-text {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.title {
    text-align: center;
    font-size: 64px;
    font-family: 'circular_stdmedium';
    color: #EF3B42;
    position: relative;
    clip-path: text;
    margin-bottom: 40px;
}
#heading {
    font-family: 'circular_stdlight';
}
#explanation {
    font-family: 'circular_stdlight';
    width: 80%;
    margin-bottom: 72px;
}
#explanation .hide-on-mobile {
    display: inline;
}
#scroll {
    font-family: 'circular_stdlight';
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    clip-path: text; /* Clips the overlay image with the text */
    transition: clip-path 1s ease, transform 1s ease; /* Smooth transition */
}

.overlay-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block; /* Add this line to remove extra spacing */
    margin: 0; /* Ensure no margins */
    padding: 0; /* Ensure no padding */
}

.caption {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 40%;
    background: #EF3B42;
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 10;
    font-family: 'circular_stdlight';
}



/*Footer*/


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 132px;
    color: #B9B9B9;
    background-color: #414141;
}
#footer-text{
    font-size: 12px;
}
