@font-face {
    font-family: 'circular_stdlight';
    src: url('../font/webfontkit/circularstd-light_webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdlight_italic';
    src: url('../font/webfontkit/circularstd-light_italic-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdbook';
    src: url('../font/webfontkit/circularstd-book-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdbook_italic';
    src: url('../font/webfontkit/circularstd-bookitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdmedium';
    src: url('../font/webfontkit/circularstd-medium-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdmedium_italic';
    src: url('../font/webfontkit/circularstd-mediumitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdbold';
    src: url('../font/webfontkit/circularstd-bold-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdbold_italic';
    src: url('../font/webfontkit/circularstd-bolditalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdblack';
    src: url('../font/webfontkit/circularstd-black-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'circular_stdblack_italic';
    src: url('../font/webfontkit/circularstd-blackitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit/circularstd-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Responsive Design*/ 

@media only screen and (max-width: 600px) {
    body, html {
        overflow-x: hidden;
        width: 100% !important;
    }
    .body {
        width: 100% !important;
    }
    .header-button {
        margin-left: 24px;
    }
    .menu {
        margin-right: 24px;
    }
    .menu-list {
        display: none !important;
    }
    .hamburger-menu {
        display: block !important;
    }
    section {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0;
    }
    .content {
        width: 100% !important;
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .problem-box-list {
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
        margin-top: 24px !important;
    }
    .problem-box-item {
        margin-top: 24px;
    }
    .problem-box-list-row {
        margin-top: 24px !important;
        width: 100% !important;
    }
    #process-box2 {
        margin-top: 24px;
    }
    #process-box3 {
        margin-top: 24px !important;
    }
    #process-box4 {
        margin-top: 24px;
    }
    .row {
        flex-direction: column !important;
    }
    .popup-content {
        margin-right: 0px;
        margin-left: 0px;
    }
    .section-text {
        width: 100% !important;
    }
    section p {
        width: 100% !important;
    }
    .page-heading {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .page-heading-text {
        width: 100% !important;
    }
    .insight-list {
        width: 100% !important;
    }
    #insight-section {
        padding-left: 24px;
        padding-right: 24px;
    }
    .section-title {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media only screen and (min-width: 600px) {
    .header-button {
        margin-left: 40px;
    }
    .menu {
        margin-right: 40px;
    }
    .process-box-list {
        flex-direction: column;
    }
    .insight-list {
        width: 100%;
    }
    .list-item {
        width: 549px;
    }
}

@media only screen and (min-width: 768px) {
    .header-button {
        margin-left: 80px;
    }
    .menu {
        margin-right: 80px;
    }
    .process-box-list {
        flex-direction: column;
    }
    .insight-list {
        width: 830px;
    }
}

@media only screen and (min-width: 992px) {
    .header-button {
        margin-left: 80px;
    }
    .menu {
        margin-right: 80px;
    }
    .process-box-list {
        flex-direction: row;
    }
    .insight-list {
        width: 830px;
    }
}

@media only screen and (min-width: 1200px) {
    .header-button {
        margin-left: 160px;
    }
    .menu {
        margin-right: 160px;
    }
    .insight-list {
        width: 830px;
    }
}



html {
    scroll-behavior: smooth;
  }
  
body {
    background-color: #FAFBFC;
    overflow-x: hidden;
    font-family: 'circular_stdbook';
}

* {
    margin: 0;
    border: 0;
  }

/*header*/
.nav-up {
    top: -88px;
}

header {
    z-index: 3;
    background-color: #FAFAFA;
    position: fixed;
    top: 0;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    width: 100%;
    height: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Merriweather', serif;
    }

.header-button:hover {
    opacity: 50%;
}

.menu {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 300;
    font-size: 13px;
    font-family: 'circular_stdbook';
}

a {
    margin-right: 32px;
    text-decoration: none;
    color: black;
}

.hamburger-menu {
    width: 32px;
    display: none;
}

#expanding-menu {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100% - 88px);
    background-color: #FAFAFA;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: top;
    z-index: 2;
}

.expanding-menu a {
    margin-bottom: 24px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.menu-list {
    display: inline-block;
    position: relative;
}

#logo {
    height: 40px;
}


/*body*/
.body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    margin-top: 160px;
}
.page-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-title {
    font-size: 44px;
    text-align: center;
    font-family: 'circular_stdmedium';
    color: #EF3B42;
    margin-bottom: 60px;
}
.page-heading-text {
    width: 830px;
    font-family: 'circular_stdbook';
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 80px;
}
section {
    padding-right: 160px;
    padding-left: 160px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title {
    font-size: 36px;
    text-align: center;
    font-family: 'circular_stdmedium';
    color: #EF3B42;
    margin-bottom: 60px;
}
.title-number {
    width: 100%;
    text-align: center;
    color: #EF3B42;
    font-family: 'circular_stdbold';
    opacity: 50%;
    margin-bottom: 8px;
}
.section-text {
    width: 830px;
}
section p {
    width: 830px;
    font-family: 'circular_stdbook';
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 20px;
}
.scrolling-container {
    width: 830px;
    height: 600px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.scrolling-content {
    display: inline-block; /* Ensure content is displayed in a single line */
}
.patient-journey-map {
    height: 600px;
}

.problem-box-list {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}
.problem-icon {
    width: 54px;
    margin-bottom: 40px;
}
.problem-box-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.problem-box-text {
    text-align: center;
    width: 300px;
}
.hmw-item {
    margin-bottom: 48px;
}
.hmw-text {
    text-align: center;
    font-size: 24px;
}
.left-quotation-mark {
    width: 36px;
}
.right-quotation-mark {
    width: 36px;
}
.right-quotation-mark-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
}

.process-box-list {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.process-box-list-row {
    width: 549px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.process-box {
    width: 264px;
    height: 300px;
    border-radius: 12px;
}
.process-box:hover {
    box-shadow: 0 0 16px rgba(33,33,33,.4); 
}
.process-box-title {
    margin-top: 86px;
    width: 100%;
    text-align: center;
    color: #FFF5F5;
    font-size: 42px;
    font-family: 'circular_stdmedium';
}
.process-box-subtitle {
    width: 100%;
    margin-top: 12px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'circular_stdbook';
}
#process-box1 {
    background-image: url("../img/process-photo1.png");
    background-size: contain;
}
#process-box2 {
    background-image: url("../img/process-photo2.png");
    background-size: contain;
}
#process-box3 {
    background-image: url("../img/process-photo3.png");
    background-size: contain;
}
#process-box4 {
    background-image: url("../img/process-photo4.png");
    background-size: contain;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 3; 
    display: none;
}
.popup1, .popup2, .popup3, .popup4 {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    max-height: 80%;
    overflow: scroll;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    padding-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 4; 
    display: none; 
}
.popup-content {
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-title {
    display: flex;
    justify-content: center;
    color: #EF3B42;
    font-family: 'circular_stdmedium';
    font-size: 28px;
    margin-bottom: 60px;
    margin-top: 20px;
}
.popup-text {
    width: 100%;
    line-height: 140%;
    margin-bottom: 20px;
}
.popup-subtitle {
    width: 100%;
    color: #EF3B42;
    font-family: 'circular_stdbold';
    opacity: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.close-button-container {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    right: 0;
    padding: 0px; /* Adjust as needed */
}
.close-button {
    width: 32px;
}
.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
.carousel-container {
    display: flex;
    justify-content: center;
}
.carousel img {
    width: 90%;
    display: none;
}
.carousel img:first-child {
    display: block;
}
.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    width: 54px;
    height: 54px;
}
.carousel button:hover {
    background-color: #F5F5F5;
}
.prev {
    width: 48px;
    left: 0;
}
.next {
    width: 48px;
    right: 0;
}
.row {
    display: flex;
}
.number-circle {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 4px;
    background-color: #EF3B42;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    margin-right: 16px;
}



.insight-list {
    width: 830px;
}
.list-item {
    width: 100%;
    box-sizing: border-box;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-right: 42px;
    padding-left: 42px;
    background-color: #EF3B42;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: 'circular_stdbook';
}
.list-item:hover {
    box-shadow: 0 0 16px rgba(33,33,33,.4); 
}
.list-item-top {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.list-item-tag {
    background-color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 100px;
    width: fit-content;
    color: #EF3B42;
    font-size: 16px;
    font-family: 'circular_stdmedium';
}
.list-item-text {
    width: 100%;
    margin-top: 24px;
    font-size: 20px;
    color: white;
}
.list-item-number {
    font-size: 18px;
    color: white;
}
.expand-button {
    width: 32px;
    height: 32px;
}
.hidden-content {
    display: none;
    margin-top: 48px;
    flex-direction: column;
}
.evidence {
    display: flex;
    margin-bottom: 20px;
}
.evidence-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    color: #EF3B42;
    font-family: 'circular_stdbold';
}
.evidence-text {
    margin-left: 32px;
    width: 100%;
}
.insight-text {
    width: 100%;
}
.evidence-tag-text {
    text-align: center;
    color: #EF3B42;
    font-family: 'circular_stdbold';
    font-size: 14px;
    opacity: 50%;
}




/*footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 132px;
    color: #B9B9B9;
}
#footer-text{
    font-size: 12px;
}
